/* Global */
body {
font: 15px/1.5 Calibri, sans-serif;
background-color:black;
}

/* HEADER */
.head {
font: Gabriola;
height: 110px;
background-color: black;
color: gold;
display: flex;
flex-direction: row;
justify-content: space-between;
}

h1 {
padding-left: 20px;
}

nav ul {
list-style: none;
float: right;
}

nav ul li {
float: left;
width: 150px;
height: 30px;
line-height: 30px;
text-align: center;
background: black;
font-size: 18px;
top: 20px;
}

nav ul li:hover { 
background: grey;
}

nav ul li a {
text-decoration: none;
color: gold;
}

nav ul li li {
background: black;
color: gold;
}

nav ul li li:hover { 
background: grey;
}

nav ul li li a {
text-decoration: none;
color: gold;
}



/* BACKGROUND Height */
.section {
width: 100%;
height: 60%;
background-color: White;
}

/*Image Height */
img {
height: auto;
width: 100%;
}

/* FOOTER Height */
.foot {
height:200px;
background-color: lightgreen;
}
