/* Global */
body {
font:  Times New Roman;
background-color: grey;
}

/* HEADER */
.head {
font-family: 'Courgette', cursive;;
height: 110px;
background-color: black;
color: gold;
display: flex;
flex-direction: row;
justify-content: space-between;
}

.head img{
width: 80px;
height: 80px;
padding: 15px;
}

.head h1 {
height:30px;
line-height: 30px;
padding-top: 25px;
padding-right: 250px;
}

nav ul {
list-style: none;
float: right;
}

nav ul li {
float: left;
width: 150px;
height: 30px;
line-height: 30px;
text-align: center;
background: black;
font-size: 18px;
top: 20px;
}

nav ul li:hover { 
background: grey;
}

nav ul li a {
text-decoration: none;
color: gold;
}

nav ul li li {
background: black;
color: gold;
}

nav ul li li:hover { 
background: grey;
}

nav ul li li a {
text-decoration: none;
color: gold;
}


/* Section */

.section {
background-color: black;
}

.section img {
height: auto;
width: 100%;
}

.main-text-block {
position: absolute;
min-width: 200px;
top: 40%;
left: 20%;
right: 20%;
background: rgba(0,0,0,0.6);
color: white;
padding: 20px;
text-align: center;
}

.main-text-block p {
font-size: 20px;
}


.main-text-block-about-us {
    position: absolute;
    min-width: 300px;
    top: 140px;
    left: 30px;
    right: 30px;
    background: rgba(0,0,0,0.6);
    color: white;
    padding: 20px;
    text-align: justify;
    display: flex;
    clear: both;
    font-size: 20px;
}

.main-text-block-about-us img{
    padding-left: 20px;
    width: 100%;
    height: 100%;
}
    
.main-text-block-drinks {
    position: absolute;
    min-width: 300px;
    top: 140px;
    left: 30px;
    right: 30px;
    background: rgba(0,0,0,0.6);
    color: black;
    padding: 20px;
    text-align: justify;
    clear: both;
    font-size: 20px;
}

.main-text-block-drinks h1 {
    text-align: center;
    color: white;
}

.panel-container{
width: 100%;
background: #e5eecc;
opacity: 0.7;
}

#flip:hover{
background-color: grey;
}
#flip2:hover{
background-color: grey;
}
#flip3:hover{
background-color: grey;
}
#flip4:hover{
background-color: grey;
}
#flip5:hover{
background-color: grey;
}

#panel, #flip,#panel2, #flip2,#panel3, #flip3, #panel4, #flip4, #panel5, #flip5 {
   padding: 28px;
   text-align: center;
   background-color: #e5eecc;
   border: solid 1px #c3c3c3;
   font-size: 20px;
   font-weight: bold;
}

#flip,#flip3,#flip5{
background-color:#D94A38;
/*width:92.2%;*/
height:20px;
padding:28px;
}

#panel, #panel2, #panel3, #panel4, #panel5 {
   /*padding: 0px 30px;*/
    display: none;
   background-color: lightgrey;
 }

.tab-menu{
 display: flex;
 justify-content: center;
}

/* FOOTER **/
/* Create three unequal columns that floats next to each other */
.leftcolumn, .rightcolumn, .middlecolumn {
  float: left;
  padding-top: 20px;
  padding-left:30px;
  height: 200px;
  border: 1px grey solid;
  background-color: grey;
}

.leftcolumn, .rightcolumn {
  width: 28.3%;
}

.middlecolumn {
  width: 33.3%;
}
/* align text in last column as center*/
.rightcolumn h2{
  text-align: center;
}

.middlecolumn img {
align-self:  height: 160px;
width: 400px;
border: 1px black solid;
border-radius: 5px;
}

ul img{
  height: 30px;
  width: 30px;
  padding-top: 20px;
}

ul img:hover{
  transform: scale(2);
}

li{
  list-style-type:none;
}