/* Global */
body {
font:  Times New Roman;
background-color: grey;
}

/* HEADER */
.head {
font-family: 'Courgette', cursive;;
height: 110px;
background-color: black;
color: gold;
display: flex;
flex-direction: row;
justify-content: space-between;
}

.head img{
width: 80px;
height: 80px;
padding: 15px;
}

.head h1 {
height:30px;
line-height: 30px;
padding-top: 25px;
padding-right: 250px;
}

nav ul {
list-style: none;
float: right;
}

nav ul li {
float: left;
width: 150px;
height: 30px;
line-height: 30px;
text-align: center;
background: black;
font-size: 18px;
top: 20px;
}

nav ul li:hover {
background: grey;
}

nav ul li a {
text-decoration: none;
color: gold;
}

nav ul li li {
background: black;
color: gold;
}

nav ul li li:hover {
background: grey;
}

nav ul li li a {
text-decoration: none;
color: gold;
}


/* Section */

.section {
background-color: black;
}

.section img {
height: auto;
width: 100%;
}

.main-text-block {
position: absolute;
min-width: 200px;
top: 40%;
left: 20%;
right: 20%;
background: rgba(0,0,0,0.6);
color: white;
padding: 20px;
text-align: center;
}

.main-text-block p {
font-size: 20px;
}

.main-text-block-about-us {
    position: absolute;
    min-width: 300px;
    top: 140px;
    left: 30px;
    right: 30px;
    background: rgba(0,0,0,0.6);
    color: white;
    padding: 20px;
    text-align: justify;
    display: flex;
    clear: both;
    font-size: 20px;
}

.main-text-block-about-us img{
    padding-left: 20px;
    width: 100%;
    height: 100%;
}

.main-text-block-drinks {
    position: absolute;
    min-width: 300px;
    top: 140px;
    left: 30px;
    right: 30px;
    background: rgba(0,0,0,0.6);
    color: black;
    padding: 20px;
    text-align: justify;
    clear: both;
    font-size: 20px;
}

.main-text-block-drinks h1 {
    text-align: center;
    color: white;
}

/* FOOTER */
/* Create three unequal columns that floats next to each other */
.leftcolumn, .rightcolumn, .middlecolumn {
  float: left;
  padding-top: 20px;
  padding-left:30px;
  height: 200px;
  border: 1px grey solid;
  background-color: grey;
}
.leftcolumn, .rightcolumn {
  width: 28.3%;
}
.middlecolumn {
  width: 28.3%;
}
/* align text  and images in  columns as center*/
.leftcolumn p{
  font-weight: bold;
}
.middlecolumn img {
  height: 160px;
  width: 350px;
  border: 1px black solid;
  border-radius: 5px;
}
.rightcolumn h2{
  text-align: center;
}

/* styling social media logo */
ul img{
  height: 40px;
  width: 40px;
  padding-top: 10px;
}
ul img:hover{
  transform: scale(2);
}
li{
  list-style-type:none;
}



        /* Styling for Food-Menu Page  */
.panel-container{
  width: 100%;
  background: #e5eecc;
  opacity: 0.7;
}

.text-block-foodmenu h1 {
    text-align: center;
    color: white;
        }

.text-block-foodmenu {
   position: absolute;
   min-width: 300px;
   top: 140px;
   left: 30px;
   right: 30px;
   background: rgba(0,0,0,0.6);
   color: black;
   padding: 20px;
   text-align: justify;
   clear: both;
   font-size: 20px;
}

/* Styling flips hover  */
#flip:hover{
 background-color: grey;
}
#flip2:hover{
 background-color: grey;
}
#flip3:hover{
 background-color: grey;
}

/* Styling Panels & flips  */
#panel, #flip,#panel2, #flip2,#panel3, #flip3 {
    padding: 20px;
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
    font-weight: bold;
    font-size: 20px;
}

/* Styling flips for alternate color  */

#flip,#flip3{
  background-color:#D94A38;
  padding:20px;
  height:20px;
}
/* Styling panels when mouse is pointed changes color */
#panel, #panel2, #panel3 {
    display: none;
    background-color: lightgrey;
  }

/* Aligning text on menu */
.tab-menu{
  display: flex;
  justify-content: center;
}


/* Styling for Reservation Page  */
/*  Dividing page in two column */
.col-container {
  display: flex;
  width: 100%;
  height: 730px;
}
.col {
  flex: 1;
  padding: 16px;
}
.reservationForm{
  background-color: orange;
  font-size: 20px;
}

form h3 {
  font-size: 20px;
}
.photoGallery{
  background-color:lightblue;
}

/* Styling Reservation form*/
button{
  padding : 9px;
  border-radius: 15px;
}
form{
  padding-left: 170px;
  font-family: monospace;
}

/*Styling photoGallery */

/* Styling box for large image  */
.preview{
  padding-left: 100px;
  padding-right: 100px;
  border: 1px solid lightblue;
}
/* Styling large image  */
.preview img {
  padding: 1px;
  width: 450px;
  height: 450px;
  border: 3px solid ;
}

/* Styling box for small image  */
.thumbnails{
  padding-left: 50px;
  float: left;
}

/* Styling thumbnails image  */
.thumbnails img {
  height:100px;
  width: 100px;
  border: 4px solid #555;
}
.thumbnails img:hover {
  border: 4px solid #00ccff;
  cursor:pointer;
}
